.idea/
__pycache__/
notebooks/
docs/
dataframes/
images/
venv/
logs/
analysis/
Versions/
BingoBoards/bingo/
env/

BingoBoards/TEMP/

Times.pyc

favicon.ico
Logo.png
*.bingo

# Mac OS X

.DS_Store
.AppleDouble
.LSOverride
Icon

# (Thumbnails)
._*

# (Files that might appear on external disk)
.Spotlight-V100
.Trashes