* {
    font-family: "calibri", sans-serif;
}
body {
  --text-color: #bec7d2;
  --title-color: #e09456;
	margin: 0;
  padding: 100;
  color: white;
  text-align: center;
  background-color: #111111;
}
._dash-undo-redo {
  display: none;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 35px;
}

h3 {
  color: var(--title-color);
  font-size: 25px;
  padding-top: 45px;
  font-weight: normal;
}

button {
  float : center
}

/* General classes */
.no-display {
  display: none;
}

.display {
  display: flex;
}


/* Whole page */
#page {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#graphs {
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

#beta-checkbox-div {
  display: flex;
  justify-content: center;
}



#stats-ranks-graph {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}


/* Statstics text block */
#stats {
  width: 65%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start
}

#stats-ranks-loading-block {
  width: 90%;
  display: block;
}
.stats-block {
  width: 40%;
  margin: 0px 20px;
}


/* All races graph*/
#ranks-graph {
  width: 80%;
}


#smaller-graphs {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#smaller-graphs-loading-block {
  width: 90%;
  display: block;
}

/* SRL points graph */
#srl-point-graph {
  width: 49%;
  height: 600px;
}

/* PB progression graph*/
#pb-graph {
  width: 100%;
  height: 600px;
}

#pb-graph-div {
  width: 49%;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-end;
}

#dropdown {
  color: black;
  width: 100px;
}


/* Data table */
#bingo-table-div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#bingo-table {
  width: 72%;
  padding: 30px;
}

#bingo-table-loading-block {
  width: 100%;
  display: block;
}



/* Footer */
#footer {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#twitch-logo {
  margin-top: 2px;
  height: 15px;
}

#footer-text {
  color: var(--text-color);
  margin: 0px 8px;
}

#footer-text:hover {
  color: white;
}